@import '../../styles/mixins';

.common-wizard {
  &.common-wizard-steps-vertical {
    display: flex;
    flex-wrap: wrap;

    .ant-steps {
      margin-top: 30px;
      width: 230px;
    }

    .common-wizard-content,
    .common-wizard-footer {
      width: ~'calc(100% - 230px)';
    }

    .common-wizard-footer {
      margin-left: 230px;
    }

  }

  &-content {
    margin-top: 30px;
    background-color: #f7f7f7;
    padding: 20px;
  }

  .common-wizard-footer {
    border-top: 0;
    margin-top: 10px;
    padding-left: 0;

    .btn-back {
      margin-left: 0;
      float: left;
      margin-top: 5px;
    }
  }

  section {
    margin-top: 20px;

    legend {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  section:first-child {
    margin-top: 0px;
  }

  &.common-wizard-steps-horizontal {

    .common-wizard-content,
    .common-wizard-footer {
      width: 100%;
    }
  }
}